{% extends 'base_generic.html'%}
{% load static %}
{% block title %}<title>Local Library</title>{% endblock %}
{% block content%}
<h1>Hello world!</h1>
<h3>Local Library Home</h3>
<p>Welcome to LocalLibrary, a website developed by <em>Mozilla Developer Network</em>!</p>
<h2>Dynamic content</h2>
<p>The library has the following record counts:</p>
<p>Number of visits: {{number_visits}} </p>
<ul>
    <li><strong>Books:</strong> {{ num_of_books }}</li>
    <li><strong>Copies:</strong> {{ num_of_book_instances }}</li>
    <li><strong>Copies available:</strong> {{ num_of_book_instances_available }}</li>
    <li><strong>Authors:</strong> {{ num_of_book_authors }}</li>
    <li><strong>Number of Genre:</strong> {{ num_of_book_genre }}</li>
    <li><strong>Total Geography Book:</strong> {{ num_of_book_title_Geography }}</li>
    <li><strong>Total Fantacy Genre Book:</strong> {{ num_of_book_title_Fantacy }}</li>
    <li><strong>Total Science fiction Book:</strong> {{ num_of_book_title_Science_fiction }}</li>
</ul>
<h1>Book List</h1>
{% if book_list %}
<ul>
    {% for book in book_list %}
    <li>
        <a href="{{ book.get_absolute_url }}">{{ book.title }}</a> ({{book.author}})
    </li>
    {% endfor %}
</ul>
{% else %}
<p>There are no books in the library.</p>
{% endif %}
<img src="{% static 'images/local_library_model_uml.png' %}" alt="UML diagram" style="width:555px;height:540px;">
{% endblock%}